<!DOCTYPE html>
<html lang=en>
<head>
<title>{{ .Title }}</title>
<meta charset="utf-8">
{{ with resources.Get "index.jsx" }}
{{ $options := dict "defines" (dict "process.env.NODE_ENV" "\"development\"" "process.env.REACT_APP_STRIPE_API_PUBLIC" "\"pk_test_1amuSFIBwCaicwoNGifewy4a\"") }}
{{ $script := . | js.Build $options }}
<script src="{{ $script.RelPermalink }}" defer></script>
{{ end }}
</head>
<body>
<h1>Hello World</h1>

<!-- Product inc prices are marked up statically in the page -->
<script>
	const fakeData = [
		{
			name: 'Bananas',
			sku: 'sku_GBJ2Ep8246qeeT',
			price: 400,
			image: 'https://www.fillmurray.com/300/300',
			currency: 'USD'
		},
		{
			name: 'Tangerines',
			sku: 'sku_GBJ2WWfMaGNC2Z',
			price: 100,
			image: 'https://www.fillmurray.com/300/300',
			currency: 'USD'
		}
	]
</script>

<div id="react"></div>
</body>
</html>
